.main {
  max-width: 1180px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 2rem;
  padding: 0 1.5rem;

  & > h1 {
    color: var(--primary);
    font-weight: bold;
    font-size: 3rem;
    max-width: 1000px;
    text-align: center;
  }

  & > h2 {
    color: var(--white);
    font-weight: medium;
    font-size: 1.2rem;
    max-width: 900px;
  }

  .evaluation {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .projects {
    color: var(--white);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media only screen and (max-width: 1120px) {
  .main {
    .evaluation {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media only screen and (max-width: 840px) {
  .main {
    .evaluation {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (max-width: 700px) {
  .main {
    .projects {
      grid-template-columns: 1fr;
    }
  }
}

@media only screen and (max-width: 605px) {
  .main {
    .evaluation {
      grid-template-columns: 1fr;

      img {
        width: 40px;
      }

      span {
        font-size: 70%;
      }

      span + span {
        font-size: 60%;
      }
    }
  }
}

.about_me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  img {
    width: 100%;
  }

  & > div {
    color: var(--white);
    font-size: 1.2rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1120px) {
  .about_me {
    grid-template-columns: 1fr;
  }
}

.footer {
  background-color: #1c2c35;
  color: var(--white);

  .contentFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    margin: 0 auto;
    max-width: 1180px;

    .info > span {
      display: block;
    }

    .social {
      text-align: center;

      & > div {
        margin-bottom: 2rem;
      }

      & > a + a {
        margin-left: 10px;
      }

      & > a {
        border-radius: 50%;
        padding: 0.5rem;
      }

      .contact {
        display: block;
        margin-bottom: 0.5rem;

        & > span {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    .contentFooter {
      grid-template-columns: 1fr;

      .social {
        // text-align: left;

        .contact {
          display: block;
          margin-bottom: 0.5rem;

          & > span {
            display: block;
            font-size: 90%;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}
